$colors:(
    primary_navigation_font: #fff,
    primary-navigation_background: #ff5a5f
    );

@function color($color-name) {
    @return map-get($colors, $color-name)
}    

html, body{
  height: 100%;
  width: 100%;
}

.navbar {
    padding: 1% 0;
    background-color: color(primary-navigation_background);
    font-size: 1.2em;
    
  }
  
  .navbar-brand{
    min-height: 55px;
    padding: 0 15px 5px;
     
  }
 #logo{
    color: color(primary_navigation_font);
    font-size:40px;
  }
.navbar-default .navbar-nav li a {
   color: color(primary_navigation_font);
}
  .navbar-nav li a:hover, .navbar-nav li a:active  {
    color: color(primary_navigation_font);
    
  }
 
 #content_top{
   position: relative;
   padding-top: 150px;
 }
  #myNavbar {
	  font-family: monospace;
	  font-size: 20px;
  }